/* ========== Цветовые переменные ========== */
:root {
    --color-quote-border: #9fd3ff;
    --spacing-list-item: 10px;
}

.equation {
    display: block;
    text-align: center;
    margin: 10px auto;
}

.equation image {
    max-width: 100%;
    height: auto;
}